.super-section{
  padding: 40px 0;
}

body{
  background: #0f0f38;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Lato, sans-serif;
  min-height: 100vh;
  &._active{
    overflow: hidden;
  }
}
#__nuxt{
  height: 100%;
}
.container{
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.board-wrapper{
  display: flex;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  &--upcoming{
    & .board{
      min-height: 240px;
      background: #2D2D76;
      & .upcoming-image{
        max-width: 210px;
        max-height: 210px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        & img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.board{
  border-radius: 8px;
  background: #1B1B47;
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  position: relative;
  &--blue{
    background: linear-gradient(107deg, #005C97 0%, #363795 100%);
  }
  &--center{
    align-items: center;
  }
  &--image{
    flex: 0.3;
    background: #005C97;
    padding: 40px 30px 70px 30px;
    & img{
      height: 100%;
      width: 100%;
      object-fit: contain;

    }
  }
  &--burn-description{
    flex: 1;
  }
  &--fomo-rate{
    flex: 0.4;
  }
}
.rose-color{
  color: #FF33F6;
}
.board__header{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  &--small{
    font-size: 16px;
  }
}
.board__body{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  color: $gray-color-100;
  &--large{
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
  }
  &--white{
    color: #fff;
  }
}
.chart-container{
  &--doughnut{
    margin-top: 30px;
    width: 154px;
    height: 78px;
  }
}
.rate{
  font-size: 24px;
  font-weight: 600;
  gap: 8px;
  color: #fff;
}
.rate_pair{
  margin-top: 8px;
}
.flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.board__bottom{
  margin-top: auto;
  color: $gray-color-100;
}
.pointer{
  cursor: pointer;
}

.flex-column{
  flex-direction: column;
}

.fs-12{
  font-size: 12px;
}
.fs-14{
  font-size: 14px;
}

.gray-color-100{
  color: $gray-color-100;
}
.gray-color-200{
  color: $gray-color-200;
}
a{
  color: #fff;
  text-decoration: none;
}

.rank{
  width: 20px;
  height: 20px;
  &--1{
    background: url("/images/rank-1.svg");
  }
  &--2{
    background: url("/images/rank-2.svg");
  }
  &--3{
    background: url("/images/rank-3.svg");
  }
}

.title{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.coin-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  & img{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .board-wrapper.board-wrapper--tables{
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1150px) {
  .board-wrapper{
    &__burn-statistics{
      display: grid;

    }
    &--upcoming{
      & .board{
        flex: 100%;
      }
    }
    &--description{
      & .board--image{
        order: 1;
        flex: inherit;
        width: 100%;
        max-height: 300px;
      }
      & .board--burn-description{
        order: 2;
      }
      & .board--fomo-rate{
        order: 3;
      }
    }
  }
}

@media (max-width: 767px) {
  .mobile-hidden{
    display: none;
  }
  .board-wrapper{
    &--description{
      & .board--fomo-rate{
        flex: 100%;
      }
    }
  }
}

@media (max-width: 567px) {
  .board{
    & .upcoming-image{
      display: none;
    }
  }
  .board-wrapper--tables{
    & .board{
      padding: 15px;
    }
  }
}



@for $i from 1 through 25 {
  .mt-#{5 * $i} {
    margin-top: #{5 * $i}px !important;
  }
}
@for $i from 1 through 25 {
  .mb-#{5 * $i} {
    margin-bottom: #{5 * $i}px !important;
  }
}